body {
    background-image: url(https://raw.githubusercontent.com/dangoodie/space-challenge/main/assets/home/background-home-desktop.jpg);
    background-size: cover;
    background-position: center;
}

.box {
    width: 420px;
    position: absolute;
    display: inline-block;
    left: 50px;
    bottom: 100px;
}



.btn {
    
    position: absolute;
    right: 280px;
    bottom: 150px;

}

#btn-link {
    background: white;
    display: block;
    text-decoration: none;
    height: 300px;
    width: 300px;
    border-radius: 50%;
;
}

#btn-link:hover {
    box-shadow: 0 0 0 80px rgba(255, 255, 255, 0.1);

}

.btn-text {
    display: block;
    position: relative;
    font-family: 'Bellefair', serif;
    font-size: 32px;
    color: #0b0d17;
    left: 80px;
    top: 130px;
}

.box h1 {
    margin: 0;
}

.box h5 {
    margin-bottom: 30px;
}

.box p {
    line-height: 2;
}
