h1 {
    font-family: 'Bellefair', serif;
    font-size: 150px;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
}

h2 {
    font-family: 'Bellefair', serif;
    font-size: 100px;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
}

h3 {
    font-family: 'Bellefair', serif;
    font-size: 56px;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
}

h4 {
    font-family: 'Bellefair', serif;
    font-size: 32px;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
}

h5 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 4.75px;
    font-weight: normal;
    text-transform: uppercase;
    color: #d0d6f9;
}

.subheading-1 {
    font-family: 'Bellefair', serif;
    font-size: 28px;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
}

.subheading-2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    letter-spacing: 2.35px;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
}

nav {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 35px;
    padding-right: 10%;
    padding-left: 5%;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.05);

}

ul {
    margin: 0;
}

.nav-text {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    letter-spacing: 2.7px;
    font-weight: normal;
    text-transform: uppercase;
    list-style-type: none;
    display: inline-block;
    text-align: right;
    padding: 30px;
}

.nav-text a {
    color: #fff;
    text-decoration: none;
    text-emphasis: none;
    padding: 30px 0;
}

.nav-text a:hover {
    border-bottom: solid 2px rgba(255, 255, 255, 0.5);

}


.nav-active {
    border-bottom: solid 2px white;
}


.logo {
    display: inline-block;
    position: absolute;
    margin: 50px;
    z-index: 10;
}

.line {
    border: solid 1px white;
    border-bottom: 0px;
    opacity: 0.2;
    position: absolute;
    display: inline-block;
    width: 100%;
    top: 73px;
    left: 150px;
    z-index: 0;
}

body {
    font-family: 'Barlow', sans-serif;
    color: #d0d6f9;
    background-color: #0b0d17;
}

html, body {
    margin: 0;
    height: 100%;
}

